name: Deploy web

on: workflow_dispatch

jobs:
  deploy_web:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: yarn workspace web install --frozen-lockfile

      - name: Generate Prisma client
        run: yarn workspace db generate

      - name: Build nextjs app
        run: yarn workspace web run build

      - name: Delete active build
        run: rm -rf /home/etteryand/hti5_mono/apps/web/.next

      - name: Move nextjs build
        run: mv apps/web/.next /home/etteryand/hti5_mono/apps/web

      - name: Restart pm2 process
        run: pm2 restart web
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
